<header>
  <h3 class="headline headline-left h-3">Sprachen</h3>
</header>
<ul class="no-space">
  <li class="points-wrapper">
    <span class="point active"></span>
    <span class="point active"></span>
    <span class="point active"></span>
    <span class="point active"></span>
    Deutsch
  </li>
  <li class="points-wrapper">
    <span class="point active"></span>
    <span class="point"></span>
    <span class="point"></span>
    <span class="point"></span>
    Englisch
  </li>
  <li class="points-wrapper">
    <span class="point active"></span>
    <span class="point active"></span>
    <span class="point"></span>
    <span class="point"></span>
    Spanisch
  </li>
</ul>