.toolbar-spacer {
  flex: 1 auto;
}
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;
    font-family: "Calibri" !important;
}

.screen {
  cursor: pointer;
}

.logo {
  margin-right: 20px;
  font-size: 30px;
  margin-top: -7px;
  color: #c2185b;
}
.title {
  color: #9aa0a6;
}