<mat-toolbar 
  role="heading" 
  color="primary"
  class="mat-elevation-z6">
  <span class="logo">currí</span>
  <span class="title">
    Editor de currículum vitae
  </span>

  <span class="toolbar-spacer"></span>

  <mat-icon 
    class="screen" 
    *ngIf="!isFullScreen" 
    (click)="openFullscreen()">
    fullscreen
  </mat-icon>
  <mat-icon 
    class="screen" 
    *ngIf="isFullScreen" 
    (click)="closeFullscreen()">
    fullscreen_exit
  </mat-icon>

  <ng-content></ng-content>

  <button 
    mat-icon-button aria-label="Print" 
    (click)="windowPrint()">
    <mat-icon>print</mat-icon>
  </button>
  
</mat-toolbar>
