mat-form-field {
  width: 100%;
}

.settings-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.center-text {
  width: 100%;
  text-align: center;
}

::ng-deep .mat-mdc-tab-body {
  min-height: 250px;
}