<header>
  <h3 class="headline headline-left h-3">Kontakt</h3>
</header>
<div class="space-content-block">
  <h4 class="headline h-4 text-white">
    Telefon
  </h4>
  <p>
    {{ contactData.phone }}
  </p>
</div>
<div class="space-content-block">
  <h4 class="headline h-4 text-white">
    E-Mail
  </h4>
  <p>
    {{ contactData.eMail }}
  </p>
</div>
<div class="space-content-block">
  <h4 class="headline h-4 text-white">
    Adresse
  </h4>
  <p>
    {{ contactData.street }}
    <br>
    {{ contactData.zipCodeAndCity }}
  </p>
</div>
<app-clickable-overlay />
