:host {
  display: grid;
  grid-template-columns: var(--left-size) 1fr;
  grid-template-rows: var(--left-size);
}

.content-left {
  padding-right: var(--space);
}

.header, .avatar-wrapper {
  position: relative;
}