<div class="subpage-header">
  <aside class="content-left">
    <header>
      <img class="avatar" src="avatar.jpg" />
    </header>
  </aside>
  <section class="content-right">
    <header class="header">
      <h1>Marcus Kramer</h1>
      <h2>Web Developer</h2>
    </header>
    <section class="content-block">
      <header>
        <h2 class="headline headline-right">Profile</h2>
      </header>
    </section>
  </section>
</div>
<aside class="content-left">
  <section>
    <header>
      <h2 class="headline headline-left">Kontakt</h2>
    </header>
  </section>
</aside>
<section class="content-right">
  <section class="content-block">
    <header>
      <h2 class="headline headline-right">Profile</h2>
    </header>
  </section>
</section>
