<h1 mat-dialog-title>
  Einstellungen
</h1>
<div mat-dialog-content>
  <mat-slide-toggle 
    [checked]="showTopSkills"
    (change)="onChange($event)"
    name="showTopSkills">
    "Top-Skills" anzeigen
  </mat-slide-toggle>
  <br>
  <mat-slide-toggle 
    [checked]="showCertificacions"
    (change)="onChange($event)"
    name="showCertificacions">
    "Zertifizierungen" anzeigen
  </mat-slide-toggle>
  <br>
  <mat-slide-toggle 
    [checked]="showAboutMe"
    (change)="onChange($event)"
    name="showAboutMe">
    "Über mich" anzeigen
  </mat-slide-toggle>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

