<app-page-header  />

<aside class="content-left text-white">
  <app-contact />

  <app-top-skills
    *ngIf="showTopSkills"
    class="space-content-block--top space-content-block" />

  <app-certificacions
    *ngIf="showCertificacions"
    class="space-content-block--top space-content-block" />

  <app-languages
    *ngIf="languagesVisible" 
    class="space-content-block--top space-content-block" />
</aside>

<section class="content-right">
  <app-about-me 
    *ngIf="showAboutMe" 
    class="content-block" />
</section>

