<app-page-header  />

<aside class="content-left text-white">
  <app-contact />

  <app-top-skills
    *ngIf="showTopSkills"
    class="space-content-block--top space-content-block" />

  <app-certificacions
    *ngIf="showCertificacions"
    class="space-content-block--top space-content-block" />

  <app-languages
    *ngIf="showLanguages" 
    class="space-content-block--top space-content-block" />
</aside>

<section class="content-right">
  <app-about-me 
    *ngIf="showAboutMe" 
    class="content-block" />
    
    <!-- <app-experience-list class="space-content-block--top space-content-block" /> -->

    <app-list 
      *ngFor="let itemList of itemLists" 
      class="space-content-block--top space-content-block" />
</section>

