:host {
  --left-size: 4.5cm;
  padding: var(--space);
  margin: 10px auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.14),
    0px 0px 18px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  width: var(--page-width);
  min-height: var(--page-min-height);
  height: 266mm;
  display: grid;
  grid-gap: 0 var(--space);
  grid-template-columns: var(--left-size) 1fr;
}

:host::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 6cm;
  min-height: 29.7cm;
  background-color: var(--main-bg-color);
  border-radius: 4px 0 0 4px;
  top: 0;
  left: 0;
}

:host[class="subpage-1"] {
  grid-template-columns: var(--left-size) 1fr;
  grid-template-rows: var(--left-size) 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    ". .";

  app-page-header {
    grid-area: header;
    position: relative;
  }
}

@media print {
 /* :host {
    padding: 0;
    border: 1px white solid;
    height: 266.6mm;
    outline: var(--space) #ffffff solid;
  }*/
}