<app-header>
  <button 
    mat-icon-button 
    (click)="drawer.toggle()">
    <mat-icon>settings</mat-icon>
  </button>
</app-header>
<mat-drawer-container 
  class="example-container"
  [hasBackdrop]="false">
  <mat-drawer 
    #drawer 
    mode="side"
    position="end"
  >
    <div class="drawer-container">
      <app-settings />
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="book">
      <app-page 
        class="subpage-1"
        [showTopSkills]="showTopSkills"
        [showCertificacions]="showCertificacions"
        [showAboutMe]="showAboutMe"
        [showLanguages]="showLanguages" />
        + Page hinzufügen
    </div>
  </mat-drawer-content>
</mat-drawer-container>

