body, html {
  margin: 0;
  padding: 0;
  background-color: #303030;
  font-size: var(--body-text-size);
  font-family: "Calibri"!important;
}
@media print {
  body {
    background-color: white;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.content-left {
  padding-right: var(--space);
  color: white;
  position: relative;

  header {
    padding-bottom: var(--space-header);
  }

  h2,
  h3 {
    color: white;
    font-family: var(--headline-font)!important;
  }

  p {
    margin: 0;
  }
}

.content-right {
  padding-left: var(--space);
  color: #2c323e;

  header {
    padding-bottom: var(--space-header);
  }

  p {
    text-align: justify;
    margin: 0;
  }
}

.headline {
  font-family: var(--headline-font) !important;
  color: var(--headline-color);
  line-height: 1.2;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;
}

.h-1 {
  font-family: var(--headline-font) !important;
  font-size: 30px;
}

.h-2 {
  font-family: var(--headline-font) !important;
  font-size: 16px;
  font-weight: 500;
  opacity: .5;
}

.h-3 {
  font-family: var(--headline-font) !important;
  font-size: 13px;
  font-weight: 600;
}

.h-4 {
  font-family: var(--headline-font) !important;
  font-weight: 600;
}

.text-white {
  color: white!important;
}

.headline {
  font-family: var(--headline-font) !important;
  position: relative;

  &-right {
    color: var(--headline-color);

    &::before {
      content: '';
      position: absolute;
      width: 8mm;
      height: .3mm;
      background-color: var(--headline-color);
      bottom: -2mm;
    }
  }

  &-left {
    color: white;
    &::before {
      content: '';
      position: absolute;
      width: 8mm;
      height: .3mm;
      background-color: white;
      bottom: -2mm;
    }
  }
}

.space-content-block {
  padding-bottom: calc(var(--space-header) - .05cm);
}

.space-content-block--top {
  padding-top: calc(var(--space-header) * 2);
}

ul {
  margin: 0;
  padding: 0 0 0 calc(var(--space-header) - .05cm);
}

.no-space {
  padding: 0;
  margin:0;
}

.points-wrapper {
  display: grid;
  grid-template-columns: 9px 9px 9px 9px 1fr;
  align-items: center;
  grid-gap: 1px;
}
.point {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 1px solid white;
  display: block;
  &.active {
    background-color: white;
  }
}

[contenteditable]:focus {
  transition: all 100ms linear;
  background-color: #424242;
  color: white;
  transform: scale(1.1);
  padding: 3%;
  border-radius: 4px;
  border: 1px solid #424242;
  outline: 1px solid #424242;
  box-shadow: 
    0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.color-primary {
  color: #c2185b!important
}
/* .clickable {
  cursor: pointer;
  .headline {
    float: left;
  }
  mat-icon {
    float: right;
    font-size: 16px;
    opacity: 0;
  }
  &:hover {
    color: #c2185b;
      mat-icon {
        opacity: 1;
      }
  }
} */
@media print {
  .clickable mat-icon {
    display: none;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: var(--headline-font); }
