  .mat-mdc-slide-toggle {
    padding: 10px 5px;
  }

  mat-slide-toggle:last-of-type {
    padding-bottom: 0;
  }

mat-form-field {
  width: 100%;
}

.settings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}